<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="referrer" content="no-referrer" />

    <title>Asgardeo-Passport.js Sample Application</title>

    <link href="/css/home.css" rel="stylesheet" type="text/css" />

</head>

<body>
    <div id="root">

            <div>

                <a href="https://asgardeo.io" target="_blank">
                    <img src="https://wso2.cachefly.net/wso2/sites/all/2021-theme/asgardeo/asgardeo-by-wso2.svg" href="https://asgardeo.io" alt="logo"
                                        width="200" height="100" class="topleft" />
                </a>

            </div>


                <div class="page-body">
                        <div class="title">
                            <h1>Sample Application for authenticating with passport-asgardeo</h1>
                        </div>
                        <p class="title-body">
                            Create seamless login experiences in minutes.
                            <br />
                            Try out Asgardeo for free and see how much time you can save
                        </p>

                            <div class="content">

                                            <div>
                                                <form action="/login">
                                                    <button class="btn-custom" type="submit">Login with
                                                        Asgardeo</button>
                                                </form>
                                            </div>

                                            <div class="feature-section">
                                                <h1>
                                                    <b>
                                                        ABOUT ASGARDEO
                                                    </b>
                                                </h1>
                                                <h2 style="margin-top: -1%;">Features</h2>
                                                <div class="feature-list">
                                                    <div class="feature-card" style="padding: 10px;flex:50%">
                                                        <h3>Best Investment</h3>
                                                        <p>
                                                            Asgardeo’s developer-centric approach to IAM and CIAM helps
                                                            increase
                                                            developer
                                                            productivity and accelerate time to market, resulting in a
                                                            higher,
                                                            faster return
                                                            on investment.
                                                        </p>
                                                    </div>
                                                    <div class="feature-card"
                                                        style="padding: 10px;flex:50%;margin: 30px 20px 0 20px;">
                                                        <h3>Enterprise-ready</h3>
                                                        <p>
                                                            Focus valuable team resources on delivering superior
                                                            customer
                                                            experiences, since
                                                            the IDaaS reduces the time required to manage infrastructure
                                                            and
                                                            deployments.
                                                        </p>
                                                    </div>
                                                    <div class="feature-card" style="padding: 10px;flex:50%">
                                                        <h3>Integrations</h3>
                                                        <p>
                                                            Protect sensitive APIs and integrations in the cloud.
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="feature-list">
                                                    <div class="feature-card" style="padding: 10px;flex:50%">
                                                        <h3>Confidence</h3>
                                                        <p>
                                                            Quickly deliver safe, secure, and robust cloud-native
                                                            digital
                                                            applications that
                                                            give customers confidence their data will be protected.
                                                        </p>
                                                    </div>
                                                    <div class="feature-card"
                                                        style="padding: 10px;flex:50%;margin: 30px 20px 0 20px;">
                                                        <h3>Security</h3>
                                                        <p>
                                                            Streamline security reviews and approvals by codifying
                                                            policies and
                                                            standards,
                                                            freeing developers to concentrate on building out their core
                                                            applications.
                                                        </p>
                                                    </div>
                                                    <div class="feature-card" style="padding: 10px;flex:50%">
                                                        <h3>Customer Experience</h3>
                                                        <p>
                                                            Simplify customers’ experiences by letting them use the same
                                                            log-in
                                                            credentials
                                                            no matter what part of the system they are connected to.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>

                            </div>
                </div>


    </div>

</body>

</html>