<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
            <meta name="referrer" content="no-referrer" />
		<title>Asgardeo-Passport.js Sample Application</title>
		<link rel="stylesheet" href="/css/home.css">
		<link rel="stylesheet" href="/css/index.css">
	</head>
	<body>
	<div id="root">

                <div>

                    <a href="https://asgardeo.io" target="_blank">
                        <img src="https://wso2.cachefly.net/wso2/sites/all/2021-theme/asgardeo/asgardeo-by-wso2.svg" href="https://asgardeo.io" alt="logo"
                                            width="200" height="100" class="topleft" />
                    </a>

                </div>


                    <div class="page-body">
                            <div class="title">
                                <h1>Logged in successfully!!</h1>
                            </div>
                            </div>

                            <div>
                            <form action="/logout" method="post">


                                                                                <button class="btn-custom" type="submit">Log Out</button>
                                                                            </form>
                                                                        </div>
                            </div>





	</body>
</html>
